* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	font-size: 62.5%;
	--primary-color: #0AAF33;
	--secondary-color: #DAE5D0;
	--highlight-color: #FFD700;
	--alert-color: #FF4500;
	--background-color: #F4F4F9;
	--font-color: #333;
}
body {
	font-size: 1.6rem;
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: Arial, sans-serif;
}
#app {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 2rem;
	padding: 2rem;
}
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-weight: 700;
	padding: 1rem;
	color: var(--primary-color);
}
.iron-01 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.5rem;
	border-radius: 10px;
	padding: 2rem;
	background-color: var(--secondary-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input[type="number"] {
	max-width: 12rem;
	height: 5rem;
	border: 4px solid var(--primary-color);
	border-radius: 10px;
	margin-top: 1.5rem;
	text-align: center;
	padding: 1rem;
	outline: none;
	font-size: 1.6rem;
	font-weight: 700;
	transition: border-color 0.3s;
}
input[type="number"]:focus {
	border-color: var(--highlight-color);
}
.time-display {
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 1rem;
	color: var(--primary-color);
	transition: color 0.3s;
}
h1 img {
	width: 50px;
	height: 50px;
	margin-left: 1.5rem;
}

/* Responsive Design */
@media (max-width: 1200px) {
	h1 {
		font-size: 2.5rem;
	}
	input[type="number"] {
		font-size: 1.4rem;
	}
	.time-display {
		font-size: 2.2rem;
	}
}
@media (max-width: 800px) {
	h1 {
		font-size: 2rem;
	}
	input[type="number"] {
		font-size: 1.2rem;
	}
	.time-display {
		font-size: 2rem;
	}
}
@media (max-width: 500px) {
	#app {
		grid-template-columns: 1fr;
	}
	h1 {
		font-size: 1.8rem;
	}
	input[type="number"] {
		font-size: 1rem;
	}
	.time-display {
		font-size: 1.8rem;
	}
}